*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 70%;
    height: 600px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#countdown{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#countdown .n span{
    font-size: 3em;
}
